<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.smarticles101.numberguesser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Number Guesser"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ml.smarticles101.numberguesser.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InfoActivity.info" />
        <activity android:name=".computer.computer" />
        <activity android:name=".user.User" />
        <activity android:name="ml.smarticles101.numberguesser.Info" />
        <activity android:name="ml.smarticles101.numberguesser.Computer" />
        <activity android:name="ml.smarticles101.numberguesser.User"></activity>
    </application>

</manifest>