<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.smarticles101.numberguesser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Number Guesser"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ml.smarticles101.numberguesser.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="ml.smarticles101.numberguesser.ToUser"
			android:parentActivityName="ml.smarticles101.numberguesser.MainActivity"/>
		<activity android:name="ml.smarticles101.numberguesser.ToComputer"
			android:parentActivityName="ml.smarticles101.numberguesser.MainActivity"/>
		
        <activity android:name="ml.smarticles101.numberguesser.Info" 
			android:parentActivityName="ml.smarticles101.numberguesser.MainActivity"/>
        <activity android:name="ml.smarticles101.numberguesser.Computer" 
			android:parentActivityName="ml.smarticles101.numberguesser.ToComputer"/>
        <activity android:name="ml.smarticles101.numberguesser.User"
			android:parentActivityName="ml.smarticles101.numberguesser.ToUser"/>
		
	</application>

</manifest>
